<div class="hero-body p-5">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-5">
        <figure class="image shadow brighten ">
          <img id="img" src="/img/fondo3.jpg" alt="Description" width="500"/>
        </figure>
      </div>
      <div class="column is-6 is-offset-1">
        <p id="name" class="title is-2">{{seller.name}}</p>
        <h2 id="quantity" class="subtitle is-4">{{seller.quantityAvailable}}</h2>
        <h2 id="price" class="subtitle is-4">{{seller.priceKg}}</h2>
        <h2 id="cultivationTown"  value=""class="subtitle is-4">{{seller.cultivationTown}}</h2>
        <h2 id="description" class="subtitle is-4">{{seller.description}}</h2>
        <h2 id="fullname" class="subtitle is-4">{{seller.fullname}}</h2>
        <h2 id="email" class="subtitle is-4">{{seller.email}}</h2>
        <h2 id="phone" class="subtitle is-4">{{seller.phone}}</h2>
        <h2 id="department" class="subtitle is-4">{{seller.department}}</h2>
        <h2 id="town" class="subtitle is-4">{{seller.town}}</h2>
        <br />
      </div>
    </div>
  </div>
</div>